*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    /* height: 70px;    */
}
#darktheme{
cursor: pointer;
}
:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
  
}
.darktheme{
    --primary-color:#d6d8db;
    --secondary-color:#706060;
}

#navinput{
    background-color: #e3e5e9;
}

body{
    background-color:var(--primary-color);
    /* background-color:var(--secondary-color); */
}

/* slides  */



.swiper{
	width: 100%;
	/* border: 1px solid rgb(12, 12, 32); */
	height: fit-content;
	/* height: 80vh; */
    

}
.swiper-wrapper{
    /* border: 3px solid blue; */
    width: 100%;
    
}

.swiper-slide img{
    /* border: 1px solid red; */
    /* height: 100vh; */
    object-fit: cover;
    height: 100%;
    

}
.swiper-slide .card{
    object-fit: fill;
    /* height: 100vh; */
    object-fit: cover;
    height: 100%;
    /* border: 2px solid red; */
   

}


.swiper .swiper-button-prev,.swiper .swiper-button-next{
color: rgba(250, 250, 250, 0.007);
background-color: rgba(255, 255, 255, 0.055);

border-radius: 10%;

}


.swiper .swiper-pagination-bullet-active{
	background-color: rgb(29, 128, 241);
	
}
.swiper .swiper-pagination-bullet{
	
	width: 15px;
	height: 15px;
}
.card {
 
    display: flex;
   
    justify-content: center;
    border: none;
  
    

}
.slidecontent{
    /* border: 1px solid rgb(0, 204, 255); */
    /* margin: 10px; */
    padding-left: 30px;
    padding-right: 10px;

    text-align:justify;
    background-color: #dbdada;
   
    background: linear-gradient(100deg, rgba(148,183,195,1) 4%, rgb(193, 191, 201) 46%, rgb(255, 255, 255) 88%);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 80vh; */
    height: 100%;
    text-shadow: 2px 2px 4px #00000050;
    
    text-shadow: 0 0 3px #ffffff, 0 0 5px #0000FF;
    
   
 

}
.slidecontent button{
    width: 30%;
    border: none;
    border: 1px solid white;
    
}




.Shead{
    font-size: 28px;
  
color: rgb(255, 255, 255);
text-shadow: 2px 2px 4px #0000005e;


}

.date-time{
    /* margin-top: 10px; */
    display: flex;
    float: right;
    color: blue;
}
.date-time p{
font-weight: lighter;
font-style: italic;
margin-right: 5px;
font-size: 12px;
}
.author{
    display: flex;
    margin-top: 50px;
    
    
}
.authorimg{
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    /* font-size: 3rem; */
    border-radius: 50%;
    background-color: blue;
   

    
}
.authorimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid white;
    padding: 1px;
    
}
.authorcontent{
    /* border: 1px solid blue; */
    margin-left: 5px;
    height: 40px;
    text-align: justify;
}
.authorpara1, .authorpara2{
    /* font-weight: lighter; */
font-style: italic;
/* line-height: 1px; */
font-size: 12px;

}
.authorpara2{
    margin-top: -20px;
    
}

.blg::after{
    content: "";
    position: absolute;
    /* height: 500px;
    width: 200px; */
    /* border: 2px solid red; */
    background: linear-gradient(-100deg, rgba(148, 183, 195, 0.384) 4%, rgba(193, 191, 201, 0.322) 46%, rgb(255, 255, 255) 88%);
    

    display: inline-block;
    width: 100%;
    height: 100%;
}
.blg img{
	height: 80vh;
}
@media screen and (max-width: 768px){
	.row{
		display: block;
		width: 100%;
	}

	.slidecontent{
		height: 40vh;
	}
	.blg img{
		height: 50vh;
	}
}


/* landding page :end */
/* content page star */
.sociallink:hover .card{
    transform: rotate(360deg);
    transition: 1s ease;
}


.portfolio {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .portfolio h1 {
    margin: 0;
  }
ul{
    list-style: none;
}
.sclk{
    
    justify-content: space-between;
    width: 100px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 0px 10px;
    
}
.cv{
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    color: blue;
    background-color: white;
    transition: 0.5s;
}
.cv:hover{
    background-color: rgb(4, 4, 243);
    color: white;
}
.portfolioimg{
    /* background-image: url("/1.png"); */
    background-image: url(file:///C:/Users/umasankar/Desktop/web/img/author.png);
    border: 2px solid rgb(0, 0, 0);
    /* height: 100px; */
   
    background-size: cover;
    object-fit: cover;
    margin: 2rem;
    
}
.hrline{
    height: 10vh;
}
.lastdiv{
    text-align: center;
   
    color: blue;
    
}
.lastdiv button{
    border: none;
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 5px;
    transition: 0.5s;
}
.lastdiv button:hover {
    background-color: white;
    color: blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
.footer{
    background-color: #575757;
    color: white;
    padding: 5px;
}
.footer ul{
    list-style: none;
}
.lstfooter{
    font-size: 12px;
    text-align: center;
    justify-content: center;
}